/* General */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

h2,
p {
  color: white;
  text-align: center;
  margin: 10px auto;
}

/* Cuerpo del Html */
body {
  background-color: #222;
}

h1 {
  font-size: 46px;
  font-weight: 800;
  margin: 15px 0;
  line-height: 50px;
  text-transform: uppercase;
  color: #2fb4cc;
}

/* Formulario */
.login {
  width: 100%;
  max-width: 100%;
}

.openBtn {
  background-color: #f1f1f1;
  margin: auto;
  display: block;
  border-radius: 10px;
  border: none;
  padding: 10px 15px;
  font-size: 20px;
  cursor: pointer;
}

.openBtn:hover {
  color: #2fb4cc;
}

.openBtn:hover::before {
  border-color: #fff;
}

.overlay {
  height: 100%;
  width: 100%;
  display: none;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;

  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.8);
}

.overlay-content {
  position: relative;
  top: 46%;
  width: 80%;
  text-align: center;
  margin-top: 30px;
  margin: auto;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
  cursor: pointer;
  color: white;
}

.overlay .closebtn:hover {
  color: #ccc;
}

.overlay input[type="text"] {
  padding: 15px;
  margin: 10px;
  font-size: 17px;
  border: none;
  float: left;
  width: 80%;
  background: white;
  outline: none;
}

.overlay input[type="text"]:hover {
  background: #f1f1f1;
}

.overlay button {
  float: right;
  width: 21%;
  padding: 15px;
  background: #ddd;
  font-size: 13px;
  border: none;
  cursor: pointer;
  margin-top: 10px;
  margin-right: 20%;
}

/* Menu */
.Sub-headerL {
  height: 70vh;
  width: 100%;
  max-width: 100%;
  background-image: url(../img/anime16.jpg);
  background-position: center;
  background-size: cover;
  text-align: center;
  color: #fff;
}

/* Menu Nav Principal */
nav {
  background-image: linear-gradient(#000000c4, #0507137b);
  display: flex;
  padding: 1% 2%;
  justify-content: space-between;
  align-items: center;
}

/* -----------Logo----------- */
nav .logo {
  text-decoration: none;
  font-size: 24px;
  color: #fff3f3;
  font-weight: bold;
}

nav .fab {
  font-size: 42px;
  /* color: #5236f4; */
  color: #f82424;
}

/* -----------Links del menu----------- */
.nav-links {
  flex: 1;
  text-align: right;
}

.nav-links ul li {
  display: inline-block;
  list-style: none;
  padding: 8px 12px;
  position: relative;
  text-transform: uppercase;
}

.nav-links ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
}

.nav-links ul li::after {
  content: "";
  width: 0%;
  height: 2px;
  background: #f82424;
  display: block;
  margin: auto;
  transition: 0.5s;
}

.nav-links ul li:hover::after {
  width: 100%;
}

.hero_btn {
  position: relative;
  display: inline-block;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 5px;
  padding: 12px 34px;
  font-size: 13px;
  background: transparent;
  cursor: pointer;
  text-decoration: none;
}

.hero_btn:hover {
  background: #2fb4cc;
  color: #fff;
  transition: 1s;
}

nav .fa {
  display: none;
}

@media (max-width: 1280px) {
  .nav-links ul li {
    display: block;
  }

  .nav-links {
    position: fixed;
    background: #0a0202;
    height: 100vh;
    width: 200px;
    top: 0;
    right: -200px;
    text-align: left;
    z-index: 2;
    transition: 1.2s;
  }

  nav .fa {
    display: block;
    color: #ffff;
    margin: 10px;
    font-size: 22px;
    cursor: pointer;
  }

  .nav-links ul {
    padding: 30px;
  }
}

.novedad {
  width: 100%;
  margin: auto;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  max-width: 100%;
}

#correo {
  width: 50%;
  margin: auto;
  max-width: 100%;
}

.form-nov p {
  color: white;
}

.form-nov input[type="email"] {
  width: 100%;
  padding: 20px;
  font-size: 20px;
}

.input_check {
  width: 70%;
  margin: auto;
  margin-top: 20px;
}

.input_check label {
  color: white;
}

.input_check a {
  color: #2fb4cc;
}

.buttonform {
  max-width: 100%;
  margin-top: 10px;
  padding: 10px;
  width: 10%;
  border-radius: 20px;
  color: white;
  border: 1px solid white;
  background-color: transparent;
  font-size: 15px;
}

.buttonform:hover {
  background-color: #24f8c7;
  border: 1px solid black;
}

@media only screen and (max-width: 1024px) {
  #correo {
    width: 100%;
    margin: auto;
    max-width: 100%;
  }

  .form-nov input[type="email"] {
    width: 100%;
    padding: 20px;
    font-size: 20px;
  }

  .input_check {
    width: 100%;
  }

  .input_check a {
    font-size: 15px;
  }

  .buttonform {
    width: 50%;
  }
}

/* Footer */

.footer {
  width: 100%;
  text-align: center;
  padding: 30px 0;
  clear: both;
}

.footer a {
  text-decoration: none;
  color: #cf3434;
  font-weight: 600;
}

.footer a:hover {
  color: #24f8c7;
}

.icons .fab {
  color: #f43636;
  margin: 0 13px;
  cursor: pointer;
  padding: 20px 0;
}

.icons .fab:hover {
  color: #2432f8;
}

.fa-heart {
  color: #24f8c7;
}

hr {
  border: 0.01px solid #7777772a;
}
