/*Style  General */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
h1 {
  font-size: 46px;
  font-weight: 800;
  margin: 15px 0;
  line-height: 50px;
  text-transform: uppercase;
  color: #2fb4cc;
}

p {
  color: #777;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  padding: 10px;
}

/* VIDEO BG */
.cta-box {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  color: #fff;
  margin: 50px 0;
}
.video-bg {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
}
.video-bg:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: #080808cf;
  z-index: 1;
  opacity: 0.85;
}
.video-bg video {
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.content-section {
  width: 100%;
  display: block;
  padding: 220px 0;
  position: relative;
  background-size: cover !important;
  background-position: center !important;
}
.content-section .container {
  position: relative;
  z-index: 1;
}
@media (max-width: 1280px) {
  .video-bg {
    width: 100%;
    height: 100%;
    display: block;
  }
  .video-bg:after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
  }
  .video-bg video {
    min-width: 100%;
    min-height: 100%;
  }

  .cta-box h2 {
    font-size: 32px;
  }
}
/* CTA BOX */
.cta-box {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  color: rgb(255, 255, 255);
}
.cta-box h6 {
  width: 100%;
  display: block;

  font-weight: 200;
  font-size: 20px;
  letter-spacing: 3px;
}
.cta-box h2 {
  width: 100%;
  display: block;
  color: rgb(255, 255, 255);
  margin-bottom: 0;
  font-size: 42px;
  font-family: "Cinzel", serif;
}
.cta-box .custom-button {
  margin: 0 auto;
  margin-top: 20px;
  color: rgb(255, 255, 255);
}
.cta-box .custom-button:hover {
  color: #2fb4cc;
}
.cta-box .custom-button:hover:before {
  border-color: #fff;
}
/* Cuerpo del Html */
body {
  background-color: #222;
}

/* Cabecera */
.header {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(#517e86c4, #949fdf1a),
    url(img/onePiece.webp);
  background-position: center;
  background-color: #222;
  background-size: cover;
  position: relative;
}

/* Menu Nav Principal */
nav {
  background-image: linear-gradient(#000000c4, #0507137b);
  display: flex;
  padding: 1% 2%;
  justify-content: space-between;
  align-items: center;
}
/* -----------Logo----------- */
nav .logo {
  text-decoration: none;
  font-size: 24px;
  color: #fff3f3;
  font-weight: bold;
}

nav .fab {
  font-size: 42px;
  /* color: #5236f4; */
  color: #f82424;
}
/* -----------Links del menu----------- */
.nav-links {
  flex: 1;
  text-align: right;
}

.nav-links ul li {
  display: inline-block;
  list-style: none;
  padding: 8px 12px;
  position: relative;
  text-transform: uppercase;
}

.nav-links ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
}

.nav-links ul li::after {
  content: "";
  width: 0%;
  height: 2px;
  background: #f82424;
  display: block;
  margin: auto;
  transition: 0.5s;
}

.nav-links ul li:hover::after {
  width: 100%;
}

.text_box {
  width: 90%;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.text_box h2 {
  font-size: 90px;
  font-weight: 900;
  color: #f82424ab;
}

.text_box #headtext {
  font-size: 42px;
  font-weight: 900;
  text-transform: uppercase;
  margin-top: -1%;
  margin-bottom: 1%;
  color: #d49242;
}

.text_box p {
  margin: 10px 0 40px;
  font-size: 18px;
  color: #ffff;
}

.hero_btn {
  position: relative;
  display: inline-block;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 5px;
  padding: 12px 34px;
  font-size: 13px;
  background: transparent;
  cursor: pointer;
  text-decoration: none;
}

.hero_btn:hover {
  background: #2fb4cc;
  color: #fff;
  transition: 1s;
}

nav .fa {
  display: none;
}

/* Responsive Navbar Section Start */

@media (max-width: 700px) {
  .text_box h2 {
    font-size: 50px;
  }
  .text_box #headtext {
    font-size: 23px;
  }
  .text_box p {
    margin: 10px 40px;
    font-size: 20px;
  }
  .nav-links ul li {
    display: block;
  }
  .nav-links {
    position: fixed;
    background: #0a0202;
    height: 100vh;
    width: 200px;
    top: 0;
    right: -200px;
    text-align: left;
    z-index: 2;
    transition: 1.2s;
  }
  nav .fa {
    display: block;
    color: #ffff;
    margin: 10px;
    font-size: 22px;
    cursor: pointer;
  }
  .nav-links ul {
    padding: 30px;
  }
}
/* Responsive Navbar Section End */
/* _------------------------------------_ */
/* Programs Section Start */

.Programs {
  width: 100%;
  margin: auto;
  text-align: center;
  padding-top: 20px;
}

/* cards */

.container-card {
  width: 100%;
  display: flex;
  max-width: 100%;
  margin: auto;
}

.title-cards {
  width: 100%;
  max-width: 1080px;
  margin: auto;
  padding: 20px;
  margin-top: 20px;
  text-align: center;
  color: #7a7a7a;
}

.card {
  width: 100%;
  margin: 20px;
  border-radius: 6px;
  overflow: hidden;
  background: rgb(22, 22, 22);
  box-shadow: 0px 1px 10px rgba(255, 255, 255, 0.2);
  transition: all 400ms ease-out;
  cursor: default;
}

.card:hover {
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
  transform: translateY(-3%);
}

.card img {
  width: 100%;
  max-width: 100%;
  height: 210px;
  max-height: 100%;
}

.card .contenido-card {
  padding: 15px;
  text-align: center;
}

.card .contenido-card h3 {
  margin-bottom: 15px;
  color: #7a7a7a;
}

.card .contenido-card p {
  line-height: 1.8;
  color: #6a6a6a;
  font-size: 14px;
  margin-bottom: 5px;
}

.card .contenido-card a {
  display: inline-block;
  padding: 10px;
  margin-top: 10px;
  text-decoration: none;
  color: #2fb4cc;
  border: 1px solid #2fb4cc;
  border-radius: 4px;
  transition: all 400ms ease;
  margin-bottom: 5px;
}

.card .contenido-card a:hover {
  background: #2fb4cc;
  color: #fff;
}

@media only screen and (min-width: 320px) and (max-width: 768px) {
  .container-card {
    flex-wrap: wrap;
    width: 100%;
    display: flex;
  }
  .card {
    margin: 5px;
  }
}

@media only screen and (max-width: 1024px) {
  .container-card {
    flex-wrap: wrap;
    width: 80%;
    display: flex;
  }
  .card {
    margin: 5px;
  }
  .card img {
    max-width: 100%;
    max-height: 100%;
  }
}

@media (max-width: 700px) {
  h1 {
    font-size: 24px;
    line-height: unset;
  }
}
/* Programs Section End */

/* Campus Section Start */

.campus {
  width: 100%;
  max-width: 100%;
  margin: auto;
  text-align: center;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.column {
  flex: 100%;
  max-width: 100%;
}

.column img {
  vertical-align: middle;
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
}

.column img {
  height: 100%;
  width: 100%;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: black;
}

.container:hover .overlay {
  opacity: 0.5;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
/* Tablet Styles */

@media only screen and (min-width: 480px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}
/* Desktop Styles */

@media only screen and (min-width: 1024px) {
  .column {
    flex: 33.3%;
    max-width: 33.3%;
  }
}
/* Campus Section End */

/* novedad Section Start */

.novedad {
  width: 100%;
  margin: auto;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  max-width: 100%;
}

#correo {
  width: 50%;
  margin: auto;
  max-width: 100%;
}

.form-nov p {
  color: white;
}

.form-nov input[type="email"] {
  width: 100%;
  padding: 20px;
  font-size: 20px;
}

.input_check {
  width: 70%;
  margin: auto;
  margin-top: 20px;
}

.input_check label {
  color: white;
}

.input_check a {
  color: #2fb4cc;
}

.buttonform {
  max-width: 100%;
  margin-top: 10px;
  padding: 10px;
  width: 10%;
  border-radius: 20px;
  color: white;
  border: 1px solid white;
  background-color: transparent;
  font-size: 15px;
}

.buttonform:hover {
  background-color: #24f8c7;
  border: 1px solid black;
}

@media only screen and (max-width: 1024px) {
  #correo {
    width: 100%;
    margin: auto;
    max-width: 100%;
  }
  .form-nov input[type="email"] {
    width: 100%;
    padding: 20px;
    font-size: 20px;
  }
  .input_check {
    width: 100%;
  }
  .input_check a {
    font-size: 15px;
  }
  .buttonform {
    width: 50%;
  }
}
/* novedad Section End */

/* comics Section Start */

.comics {
  max-width: 100%;
  width: 100%;
  margin: auto;
  text-align: center;
  background-color: white;
}

.container,
.box,
.titulo,
.content,
.redes-sociales {
  width: 100%;
  max-width: 100%;
}

.container {
  margin: auto;
  margin-top: 50px;
  text-align: center;
  color: #505050;
  line-height: 1.7;
}

.titulo {
  width: 100%;
  max-width: 100%;
  margin: auto;
  margin-bottom: 60px;
}

.titulo h1 {
  margin-bottom: 25px;
  color: white;
  letter-spacing: 2px;
  font-family: fantasy;
  background-color: black;
}

.content {
  display: flex;
  grid-template-columns: repeat(4, 1fr);
  gap: 55px;
}

.box figure {
  width: 100%;
  height: 250px;
  border-radius: 50%;
  margin-bottom: 20px;
  position: relative;
  overflow: hidden;
}

.box figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.redes-sociales {
  position: absolute;
  bottom: 0;
  /*prueba tambien con top:0; y mira tu proyecto*/
  left: 0;
  background: rgba(189, 32, 32, 0.7);
  height: 0%;
  line-height: 260px;
  transition: all 500ms ease;
  opacity: 0;
  visibility: hidden;
}

.box:hover .redes-sociales {
  opacity: 1;
  visibility: visible;
  height: 100%;
}

.redes-sociales a {
  text-decoration: none;
  padding: 5px;
  font-size: 22px;
  color: #fbfbfb;
  transition: all 400ms ease;
}

.redes-sociales a:hover {
  color: #151012;
}

.box:hover h4 {
  color: #e63e72;
}
/* Segundo Article */

.comicsAs1 {
  width: 100%;
  max-width: 100%;
  clear: both;
  background-color: #222;
}

.titulo1 h1 {
  background-color: black;
  color: white;
  font-family: fantasy;
}

.contentComic {
  width: 50%;
  float: right;
}

.contentComic p {
  width: 80%;
  margin: auto;
  color: white;
}

.contentComic img {
  width: 80%;
  box-shadow: 10px 5px 5px black;
}

.contentComic1 {
  width: 50%;
}

.contentComic1 p {
  width: 80%;
  margin: auto;
  color: white;
}

.contentComic1 img {
  width: 80%;
  box-shadow: 10px 5px 5px black;
}

@media only screen and (max-width: 1024px) {
  .content {
    display: block;
    width: 50%;
    max-width: 100%;
    margin: auto;
    grid-template-columns: repeat(4, 1fr);
    gap: 55px;
  }
  .box figure {
    width: 100%;
    height: 250px;
    border-radius: 50%;
    margin-bottom: 20px;
    position: relative;
    overflow: hidden;
  }
  .box figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .redes-sociales {
    position: absolute;
    bottom: 0;
    /*prueba tambien con top:0; y mira tu proyecto*/
    left: 0;
    background: rgba(189, 32, 32, 0.7);
    height: 0%;
    line-height: 260px;
    transition: all 500ms ease;
    opacity: 0;
    visibility: hidden;
  }
  .box:hover .redes-sociales {
    opacity: 1;
    visibility: visible;
    height: 100%;
  }
  .redes-sociales a {
    text-decoration: none;
    padding: 5px;
    font-size: 22px;
    color: #fbfbfb;
    transition: all 400ms ease;
  }
  .redes-sociales a:hover {
    color: #151012;
  }
  .box:hover h4 {
    color: #e63e72;
  }
  .contentComic {
    width: 100%;
    border-bottom: 1px solid white;
    margin-bottom: 10px;
  }
  .contentComic1 {
    width: 100%;
    border-bottom: 1px solid white;
    margin-bottom: 10px;
  }
}
/* comics Section End */

/* Slider */

.slider {
  width: 100%;
  overflow: hidden;
}

.slider ul {
  display: flex;
  animation: cambio 20s infinite alternate linear;
  width: 400%;
}

.slider li {
  width: 100%;
  list-style: none;
}

.slider img {
  width: 100%;
  height: 100%;
}

@keyframes cambio {
  0% {
    margin-left: 0;
  }
  20% {
    margin-left: 0;
  }
  25% {
    margin-left: -100%;
  }
  45% {
    margin-left: -100%;
  }
  50% {
    margin-left: -200%;
  }
  70% {
    margin-left: -200%;
  }
  75% {
    margin-left: -300%;
  }
  100% {
    margin-left: -300%;
  }
}
/* -----------Responsive Slider----------- */
@media only screen and (min-width: 375px) and (max-width: 768px) {
  .slider,
  .slider ul,
  .slider img {
    height: 100%;
  }
  .content-sec {
    width: 100%;
    height: 600px;
    max-height: 600px;
  }
  .content-sec h1 {
    padding: 10px;
    font-size: 35px;
  }
  .content-sec p {
    width: 100%;
    font-size: 17px;
  }
  .content-sec #img-col {
    width: 100%;
    height: 30%;
    margin: auto;
  }
}

/* _------------------------------------_ */

.cta {
  width: 100%;
  max-width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)),
    url(img/black.webp);
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  text-align: center;
  padding: 200px;
}

.cta h1 {
  font-size: 48px;
  text-transform: uppercase;
  color: #fff;
}

@media (max-width: 1280px) {
  .cta {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)),
      url(img/black1.webp);
    padding: 0;
    background-position: center;
  }
  .cta h1 {
    font-size: 20px;
    text-align: center;
  }
  .hero_btn {
    display: inline-block;
    padding: 12px 34px;
    font-size: 13px;
    margin: auto;
  }
}
/* Call To Action Section End */
/* Footer Section Start */

.footer {
  width: 100%;
  text-align: center;
  padding: 30px 0;
  clear: both;
}

.footer a {
  text-decoration: none;
  color: #cf3434;
  font-weight: 600;
}

.footer a:hover {
  color: #24f8c7;
}

.icons .fab {
  color: #f43636;
  margin: 0 13px;
  cursor: pointer;
  padding: 20px 0;
}

.icons .fab:hover {
  color: #2432f8;
}

.fa-heart {
  color: #24f8c7;
}

hr {
  border: 0.01px solid #7777772a;
}
/* Footer Section End */
/* ----------------------------------------------Index End--------------------------------------------- */

/* About Us Section Start */

.Sub-header {
  height: 70vh;
  width: 100%;
  max-width: 100%;
  background-image: url(img/anime11.jpg);
  background-position: center;
  background-size: cover;
  text-align: center;
  color: #fff;
}

.about-us {
  margin: auto;
  padding-bottom: 30px;
}

#titulo {
  text-align: center;
  color: white;
  font-family: fantasy;
  letter-spacing: 2px;
  background-color: black;
  width: 100%;
  max-width: 100%;
  font-size: 20px;
}

.contenidoAbout p {
  width: 95%;
  margin: auto;
  max-width: 100%;
  font-size: 15px;
  text-align: justify;
  color: white;
}
/* About Us Section End */
/* ------------------------------- */

/* Section About_infuencias Start */
.about_influencias {
  max-width: 100%;
  width: 100%;
  background-color: white;
}

/* ----------------------------- */
/* Aspectos Section Start */

.contenido_aspectos {
  width: 100%;
  display: flex;
  max-width: 100%;
}

.aspectos {
  padding-bottom: 10px;
}

#imagenAspec img {
  margin: auto;
  display: block;
  max-width: 100%;
}

.aspectos p,
h2 {
  width: 98%;
  color: white;
  max-width: 100%;
  padding: 10px;
  text-align: center;
}

.aspectos h2 {
  color: #24f8c7;
}
.galleryMuseo {
  width: 100%;
  max-width: 100%;
}
.galeria img {
  width: 100%;
  height: 300px;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}

@media only screen and (max-width: 1280px) {
  .responsive {
    width: 50%;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

@media (max-width: 1280px) {
  .Sub-header {
    width: 100%;
    max-width: 100%;
    background-image: url(img/anime11.jpg);
  }
  .about-us {
    padding-bottom: 0;
  }
  #titulo {
    font-size: 18px;
  }
  .contenidoAbout p {
    font-size: 15px;
    text-align: center;
  }
  .about_influencias {
    max-width: 100%;
    width: 100%;
    padding-bottom: 20px;
    background-color: white;
  }

  .contenido_aspectos {
    width: 100%;
    display: block;
    margin: auto;
    max-width: 100%;
  }
}

/* About Us Section end */
/* ----------------------------------------------About End--------------------------------------------- */

/* Collections */

.Sub-headerC {
  height: 70vh;
  width: 100%;
  max-width: 100%;
  background-image: url(img/anime12.jpg);
  background-position: center;
  background-size: cover;
  text-align: center;
  color: #fff;
}

@media (max-width: 1280px) {
  .Sub-headerC {
    width: 100%;
    max-width: 100%;
    background-image: url(img/anime12.jpg);
  }
}
/* ----------------------------------------------Collections End--------------------------------------------- */
/* Blog Section start */

.blog-content {
  width: 80%;
  margin: auto;
  padding: 60px 0;
}

.blog-left {
  flex-basis: 65%;
}

.blog-left img {
  width: 100%;
  margin-bottom: 20px;
}

.blog-left h2 {
  color: #222;
  font-weight: 600;
  margin: 20px 0;
}

.blog-left h5 {
  color: #24f8c7;
  font-weight: bolder;
  margin: 5px 0;
  cursor: pointer;
}

.blog-left p {
  color: #999;
  padding: 0;
}

.blog-right {
  flex-basis: 32%;
}

.blog-right h3 {
  background: #24f8c7;
  color: #fff;
  padding: 7px 0;
  font-size: 16px;
  margin-bottom: 20px;
  text-align: center;
}

.blog-right div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #555;
  padding: 8px;
  box-sizing: border-box;
}

.blog-right div:hover {
  color: #24f8c7;
  cursor: pointer;
}
/* Blog Section End */
/* Comment Box Section Start */

.comment-box {
  border: 1px solid #ccc;
  margin: 50px 0;
  padding: 10px 20px;
}

.comment-box h3 {
  text-align: left;
}

.comment-form input,
.comment-form textarea {
  width: 100%;
  padding: 10px;
  margin: 15px 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  background: #f0f0f0;
}

.comment-form button {
  margin: 10px 0;
}

@media (max-width: 700px) {
  .Sub-header h1 {
    font-size: 24px;
  }
}
/* Comment Box Section End */
/* Contact Us Section Start */

.loacation {
  width: 80%;
  margin: auto;
  padding: 80px 0;
}

.loacation iframe {
  width: 100%;
}

.contact-us {
  width: 80%;
  margin: auto;
}

.content-col {
  flex-basis: 48%;
  margin-bottom: 30px;
}

.content-col div {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.content-col div .fa {
  font-size: 28px;
  color: #24f8c7;
  margin: 10px;
  margin-right: 30px;
}

.content-col div p {
  padding: 0;
}

.content-col div h5 {
  font-size: 20px;
  margin-bottom: 5px;
  color: #555;
  font-weight: 400;
}

.content-col input,
.content-col textarea {
  width: 100%;
  padding: 15px;
  margin-bottom: 17px;
  border: 1px solid #ccc;
  outline: none;
  box-sizing: border-box;
}
/* Contact Us Section end */
